@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2 class="text-success">Kullanıcı Listesi</h2>
        <hr />

    </div>
    <div class="col-md-6">
    <p>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary form-control">Kullanıcı Ekle</a>
    </p>


    </div>

   
</div>
<table class="table table-dark table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Kullanıcı Adı
            </th>
            <th>
                Soyadı
            </th>
            <th>
                Email
            </th>
            <th>
                Rolü
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id.ToString()" class="btn btn-success" style="margin-right:0.5rem"><i style="margin-right:0.5rem " class="bi bi-pencil-square"></i>Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@item.Id.ToString()" class="btn btn-danger"><i style="margin-right:0.5rem" class="bi bi-trash3-fill"></i>Sil</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myTable").DataTable({
                responsive: true,
                "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                iDisplayLength: 10,
                "oLanguage": {
                    "sZeroRecords": "Arama kriterinizle eşleşen kayıt yok.",
                    "sLengthMenu": "Sayfa başına _MENU_ kayıt göster",
                    "sInfo": "_TOTAL_ kaydın _START_ ile _END_ arası gösteriliyor ",
                    "sInfoEmpty": "0 kaydın 0 ile 0 arası gösteriliyor",
                    "sInfoFiltered": "(toplam _MAX_ kayıttan filtrelendi)",
                    "sSearch": "Ara:",
                    "oPaginate": {
                        "sPrevious": "Önceki",
                        "sNext": "Sonraki",
                        "sFirst": "İlk",
                        "sLast": "Son"
                    },
                    "sProcessing": "Yükleniyor..."
                },
            });
        });
    </script>
}
}

